<script>
for(let i =1;i<=10;i++){
    document.write(i + "<br/>");
}

let o = 1;
while(o<=10){
    document.write(o);
    o++;
}
document.write("<br/>");
let p = 1;
do{
    document.write(p);
    p++;
}while(p<=10)


</script>